{%extends "base.html"%}
{%block title%}Connect with blank{%endblock%}

{%block content%}

<section id="start">
    <div class="container my-5 py-5">
      <div class="row featurette py-lg-5 ">
        <div class="col-md-5 order-md-1 d-flex">
          <h1 class="text-capitalize  lh-1 mb-3">Connect with FNAME LNAME</h1>
          <h3>They are from LOCATION, and have SPECIALITIES</h3>
        </div>
        <div class="col-md-7 order-md-2">
          <div class="text-content ps-md-5 mt-4 mt-md-0">
            <h4>Describe your project</h4>
            <h6>What are you looking for? You can both describe your dream project with images and text</h6>
            <p class="py-lg-2">Neque, vestibulum sed varius magna et at. Eu, adipiscing morbi augue justo. Nibh
              laoreet volutpat quis velit. Blandit aliquam donec sed morbi congue eget lorem viverra porta id
              lobortis.</p>
            <a href="index.html" class="btn btn-primary btn-lg px-4 me-md-2">Get
              Started</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%endblock%}