{%extends "base.html"%}
{%block title%}Offer Feedback{%endblock%}

{%block content%}

<section id="start">
    <div class="container my-5 py-5">
      <div class="row featurette py-lg-5 ">
        <div class="col-md-5 order-md-1 d-flex">
          <h1 class="text-capitalize  lh-1 mb-3">Offer Feedback </h1>
        </div>
        <div class="col-md-7 order-md-2">
          <div class="text-content ps-md-5 mt-4 mt-md-0">
            <h4>Have any ideas on how to make the website better? Write them down below and we'll make sure to consider them!</h4>
            <h4>Location</h4>
            <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Write feedback here!" aria-label="Search" aria-describedby="search-addon" name="search"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {%endblock%}