{%extends "base.html"%}
{%block title%}Find a Professional{%endblock%}

{%block content%}

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 col-lg-2 d-md-block bg-dark text-white sidebar vh-100 position-fixed">
      <div class="p-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none">
          <span class="fs-4">Filter Professionals</span>
        </a>
        <hr>

        <form method="POST">
          <h4>Expertise</h4>
          <input type="checkbox" id="Foundation" name="expertise" value="Foundation">
          <label for="Foundation">Foundation</label><br>
          <input type="checkbox" id="Priming" name="expertise" value="Priming">
          <label for="Priming">Priming</label><br>
          <input type="checkbox" id="Roof" name="expertise" value="Roof">
          <label for="Roof">Roof</label><br>
          <input type="checkbox" id="Plumbing" name="expertise" value="Plumbing">
          <label for="Plumbing">Plumbing</label><br>
          <input type="checkbox" id="Electrician" name="expertise" value="Electrician">
          <label for="Electrician">Electrician</label><br>
          <input type="checkbox" id="Gutter" name="expertise" value="Gutter">
          <label for="Gutter">Gutter</label><br>
          <input type="checkbox" id="Siding" name="expertise" value="Siding">
          <label for="Siding">Siding</label><br>
          <input type="checkbox" id="Cooling" name="expertise" value="Cooling">
          <label for="Cooling">Cooling</label><br>

          <hr>

          <h4>Location</h4>
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Zip Code" aria-label="Search"
              aria-describedby="search-addon" name="zip_code" />
          </div>

          <select class="form-select" aria-label="Miles away" name="distance">
            <option selected value="0">Miles away (range)</option>
            <option value="5">5 miles or less</option>
            <option value="10">10 miles or less</option>
            <option value="25">25 miles or less</option>
            <option value="1000">Greater than 25 miles</option>
          </select>

          <br>

          <button type="submit" class="btn btn-primary w-100" name="filters">Apply Filters</button>
        </form>
      </div>
    </div>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 offset-md-3">
        <section id="feature">
          <div class="container py-5">
            <div class="row align-items-center mb-3">
              <div class="col-md-8">
                <h2>Find a Professional</h2>
              </div>
              <div class="col-md-4">
                <form method="POST">
                  <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search by Name" name="search" />
                    <button type="submit" class="btn btn-primary" name="name">Search</button>
                  </div>
                </form>
              </div>
            </div>
          <div class="row">
            <table class="table table-striped table-light">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Rating</th>
                  <th scope="col">See Reviews</th>
                  <th scope="col">Expertise</th>
                  <th scope="col">Location</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {%for prof in professionals%}
                <tr>
                  <td>{{prof.first_name}} {{prof.last_name}}</td>
                  <td>
                  <a href="/submit_review/{{prof.user_id}}">
                    {% if prof.avg_rating > 0 %}
                    <span class="text-warning">
                      {% for i in range(prof.avg_rating|int) %}
                        <i class="fas fa-star"></i>
                      {% endfor %}
                      {% if prof.avg_rating % 1 >= 0.5 %}
                        <i class="fas fa-star-half-alt"></i>
                      {% endif %}
                    </span>
                    {{ prof.avg_rating }} ({{ prof.review_count }} reviews)
                  {% else %}
                    No ratings yet
                  {% endif %}
                </a>
                </td>
                <td>
                  {% if prof.avg_rating > 0 %}
                    <span class="text-warning">
                      {% for i in range(prof.avg_rating|int) %}
                        <i class="fas fa-star"></i>
                      {% endfor %}
                      {% if prof.avg_rating % 1 >= 0.5 %}
                        <i class="fas fa-star-half-alt"></i>
                      {% endif %}
                    </span>
                    <a href="/reviews/{{prof.prof_id}}">{{ prof.avg_rating }} ({{ prof.review_count }} reviews)</a>
                  {% else %}
                    <a href="/reviews/{{prof.prof_id}}">See Reviews</a>
                  {% endif %}
                </td>
                  <td>{{prof.profession}}</td>
                  <td><button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                      data-bs-target="#exampleModal{{ loop.index }}">
                      {{prof.town}}
                    </button>

                    <div class="modal fade" id="exampleModal{{ loop.index }}" tabindex="-1"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">{{ prof.name }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
                              referrerpolicy="no-referrer-when-downgrade"
                              src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDmYpBjV12iq8-83OxZMK8aujT1AWxb8Sc&origin={%if user_zip == None%}{{prof.zip_code}}{%else%}{{user_zip}}{%endif%}&destination={{prof.zip_code}}">
                            </iframe>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td><a href="/createReservation/{{prof.prof_id}}" class="btn btn-primary" role="button">Book a Reservation</a></td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </section>
    </main>
  </div>
</div>

{%endblock%}