{%extends "base.html"%}
{%block title%}Find a Professional{%endblock%}

{%block content%}
<section id="feature">
    <div class="container py-5">
      <div class="row">
        <div class="section-header align-center mb-5">
          <h2 class=" text-capitalize m-0">Find a Professional</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-8 d-flex gap-2">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Specialty
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Foundation</a>
              <a class="dropdown-item" href="#">Priming</a>
              <a class="dropdown-item" href="#">Roof</a>
              <a class="dropdown-item" href="#">Plumbing</a>
              <a class="dropdown-item" href="#">Electrician</a>
              <a class="dropdown-item" href="#">HVAC</a>
              <a class="dropdown-item" href="#">Gutter</a>
              <a class="dropdown-item" href="#">Siding</a>
              <a class="dropdown-item" href="#">Cooling</a>
            </div>            
          </div>
          <div class="input-group rounded w-25">
            <input type="search" class="form-control rounded" placeholder="Zip Code" aria-label="Search" aria-describedby="search-addon" name="search"/>
            <!-- <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span> -->
          </div>
        </div>
        <div class="col-4">
          <form method="POST">
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="search"/>
            <!-- <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span> -->
          </div>
        </form>
        </div>
      </div>
      <br>
      <div class="row">
        <table class="table table-striped table-light">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Expertise</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Location</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <a href="/professional/John">John Smith</a></td>
                <td>Plumbing</td>
                <td>111-111-1111</td>
                <td>johnsmith@plumbing,co</td>
                <td>Hackensack</td>
                <td>Book</td>
              </tr>
              <tr>
                <td>Sally King</td>
                <td>Siding</td>
                <td>111-111-1111</td>
                <td>salking@siding.com</td>
                <td>Paramus</td>
                <td><a href="{{url_for('index')}}" class="btn btn-info" role="button">Link Button</a></td>
              </tr>
            </tbody>
          </table>
      </div>
      


      
    </div>
  </section>

{%endblock%}