{%extends "base.html"%}
{%block title%}Register Professional{%endblock%}

{%block content%}
<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h2>Create a Professional Account</h2> <hr>
      <form method="POST">
        <!-- Email input -->
        <div class="row">
          <h4>Basic Information (Required)</h4>
          <div class="col d-flex gap-1 justify-content-center">
            <div data-mdb-input-init class="form-outline w-50 mb-3">
              <input type="text" id="form2Example1" class="form-control" name="fname" required maxlength="25" />
              <label class="form-label" for="form2Example1">Enter your First Name</label>
            </div>
            <div data-mdb-input-init class="form-outline w-50 mb-3">
              <input type="text" id="form2Example1" class="form-control" name="mname" maxlength="15" />
              <label class="form-label" for="form2Example1">Enter your Middle Name</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div data-mdb-input-init class="form-outline w-100 mb-3">
            <input type="text" id="form2Example1" class="form-control" name="lname" required maxlength="25" />
            <label class="form-label" for="form2Example1">Enter your Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex gap-1">
            <div data-mdb-input-init class="form-outline w-50 mb-3">
              <input type="email" id="form2Example1" class="form-control" name="email" required maxlength="50" />
              <label class="form-label" for="form2Example1">Email address</label>
            </div>

            <!-- <div data-mdb-input-init class="form-outline mb-3 w-50">
              <input type="text" id="form2Example1" class="form-control" name="usermane" required maxlength="50" />
              <label class="form-label" for="form2Example1">Username</label>
            </div> -->
          </div>
        </div>
        <div class="row">
          <div class="col d-flex gap-1">
            <div data-mdb-input-init class="form-outline mb-3 w-50">
              <input type="password" id="form2Example2" class="form-control" name="password" />
              <label class="form-label" for="form2Example2">Password</label>
            </div>

            <div data-mdb-input-init class="form-outline mb-3 w-50">
              <input type="password" id="form2Example2" class="form-control" name="password2" />
              <label class="form-label" for="form2Example2">Confirm Password</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex gap-1">
            <div data-mdb-input-init class="form-outline mb-3 w-50">
              <input type="tel" id="form2Example1" class="form-control" name="phone" required maxlength="50"
                 />
              <label class="form-label" for="form2Example1">Phone Number (Format: 1234567890)</label>
            </div>
            <div class="form-outline mb-3 dropdown w-50" data-mdb-input-init>
              <select name="gender" id="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other/Prefer not to Say</option>
              </select> <br>
              <label class="form-label" for="gender">Choose your Gender</label>
            </div>
          </div>
        </div>

        <!-- ADDRESS -->
        <h4>Professional Address (Recommended)</h4>
        <div class="row">
            <div data-mdb-input-init class="form-outline mb-3 w-100">
              <input type="text" id="form2Example1" class="form-control" name="street/atp" maxlength="10" />
              <label class="form-label" for="form2Example1">Street/Apartment #</label>
            </div>
          </div>
          <div class="row">
            <div data-mdb-input-init class="form-outline mb-3 w-100">
              <input type="text" id="form2Example1" class="form-control" name="street" maxlength="35" />
              <label class="form-label" for="form2Example1">Street Address</label>
            </div>
          </div>
        <div class="row">
          <div class="col d-flex gap-1">
            <div data-mdb-input-init class="form-outline mb-3 w-33">
              <input type="text" id="form2Example1" class="form-control" name="town" maxlength="30" />
              <label class="form-label" for="form2Example1">Town/City</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-3 w-33">
              <input type="text" id="form2Example1" class="form-control" name="state" maxlength="2" />
              <label class="form-label" for="form2Example1">State (abbreviated)</label>
            </div>
            <div data-mdb-input-init class="form-outline mb-3 w-33">
              <input type="text" id="form2Example1" class="form-control" name="zip" maxlength="5" />
              <label class="form-label" for="form2Example1">Zip Code</label>
            </div>
          </div>
        </div>

        <h4>Professional Information</h4>
        <div class="row">
          <h5>Expertise(s)</h5>
            <div>
              <div class="row">
                <div class="col-4">
                  <input type="checkbox" id="Foundation" value="Foundation" name="expertise[]">
                  <label for="Foundation">Foundation</label><br>
                </div>
                <div class="col-4">
                  <input type="checkbox" id="Priming" value="Priming" name="expertise[]">
                  <label for="Priming">Priming</label><br>
                </div>
                <div class="col-4">
                  <input type="checkbox" id="Roof" value="Roof" name="expertise[]">
                  <label for="Roof">Roof</label><br>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <input type="checkbox" id="Plumbing" value="Plumbing" name="expertise[]">
                  <label for="Plumbing">Plumbing</label><br>
                </div>
                <div class="col-4">
                  <input type="checkbox" id="Electrician" value="Electrician" name="expertise[]">
                  <label for="Electrician">Electrician</label><br>
                </div>
                <div class="col-4">
                  <input type="checkbox" id="Gutter" value="Gutter" name="expertise[]">
                  <label for="Gutter">Gutter</label><br>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                  <input type="checkbox" id="Siding" value="Siding" name="expertise[]">
                  <label for="Siding">Siding</label><br>
                </div>
                <div class="col-6"> 
                  <input type="checkbox" id="Cooling" value="Cooling" name="expertise[]">
                  <label for="Cooling">Cooling</label><br>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <br>
          <h5>More Information</h5>
          <div data-mdb-input-init class="form-outline mb-3 w-100">
            <input type="number" id="form2Example1" class="form-control" name="hourly" maxlength="12" />
            <label class="form-label" for="form2Example1">Hourly Rate</label>
          </div>
          <div data-mdb-input-init class="form-outline mb-3 w-100">
            <input type="text" id="form2Example1" class="form-control" name="desc" />
            <label class="form-label" for="form2Example1">Description</label>
          </div>
        </div>
        




        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Create Account</button>
      </form>
      <!-- Register buttons -->
  <div class="text-center">
    <p>Already have an account? <a href="/login">Log In</a></p>
  </div>
    </div>
    <div class="col-6">
      <img src="static\assets\images\registerCust.jpg"
        alt="https://www.pexels.com/photo/several-handheld-tools-on-white-printer-paper-301703/" style="width:50rem">
    </div>
  </div>

</div>

{%endblock%}