{%extends "base.html"%}
{%block title%}Register{%endblock%}

{%block content%}

<div class="container p-3">
    <div class="row">
      <div class="col-6">
        <h1>Create an Account</h1> <br>
        <h4>Welcome to EasyHome! Please select the type of account you would like to create below. Customer Accounts are for those looking to hire home experts, and Professional Accounts are for those looking to offer their home expertise.</h4>
        <a href="/registerCustomer" class="btn btn-info" role="button">Customer</a>
        <a href="/registerProfessional" class="btn btn-info" role="button">Professional</a>
      </div>
      <div class="col-6">
        <img src="static\assets\images\registerGen.jpg" alt="https://www.pexels.com/photo/house-renovation-3990359/" style="width:40rem">
      </div>
    </div>
    
</div>

{%endblock%}